{% extends 'core/base.html' %}

{% block title %}
Upload a File
{% endblock %}

{% block content %}
<div class="card shadow-lg bg-white p-8 max-w-md mx-auto mt-10">
    <h3 class="text-2xl font-bold mb-6 text-center">Upload a File</h3>

    <form method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}

        <div class="form-control">
            <label class="label">
                <span class="label-text">Choose File</span>
            </label>
            <input type="file" class="input input-bordered w-full" name="file" required>
        </div>

        <button type="submit" class="btn btn-primary w-full">Upload File</button>
    </form>
</div>
{% endblock %}
